# Исключаем скомпилированные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Исключаем виртуальную среду
local.venv/
venv/
env/

# Исключаем логи и временные файлы
*.log
*.tmp

# Исключаем файлы IDE (если используешь VS Code или PyCharm)
.vscode/
.idea/

# Исключаем системные файлы
.DS_Store
